<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="kz-index-box">
        <header>
            <div class="head">
                <div class="kz-head-left">
                    <span>您好，快租365</span>
                    <span class="head-zm">开通芝麻企业信用分</span>
                </div>
                <div class="kz-head-right">

                </div>
            </div>
        </header>
        <ul id="main-contain"></ul>
    </div>
</body>
<script src="../../dist/js/index.bundle.js"></script>
</html>